@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply box-border m-0 p-0;
}
/* Default light theme styles */
body {
  background-color: white;
  color: black;
}

/* Dark theme styles */
body.dark {
  background-color: black;
  color: white;
}

/* Optional: Styling elements based on the theme */
button {
  transition: background-color 0.3s ease;
}

body.dark button {
  background-color: #333;
  color: white;
}

body button {
  background-color: white;
  color: black;
}
